body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    background-image: linear-gradient(rgb(214, 80, 80), tomato);
    padding: 10px 40px;
    text-decoration: none;
    margin-top: 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 550;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: -8px;
}